<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="save()" [mat-dialog-close]="data.name" cdkFocusInitial>Guardar</button>
</div>