<mat-card class="box">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <div style="position: absolute; right: 0;">
            <button class="auxiliar-button" style="background: none; border: none;" mat-button color="accent" (click)="addLevel()"><i class="material-icons">add</i></button>
        </div>
    </mat-card-header>

    <form class="example-form" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">


        <div class="table-responsive">
            <table style="width: 100%;">
                <thead>
                    <td>Nivel</td>
                    <td>Aprobador</td>
                    <td>Máx. Dias</td>
                    <td>Valor Min.</td>
                    <td>Valor Máx.</td>
                </thead>
                <tbody>
                    <tr *ngFor="let row of matrix; let i=index">
                        <td style="width: 50px;">
                            <input type="number" class="form-control" [(value)]="row.levelAprobation" disabled>
                        </td>

                        <td>
                            <select class="custom-select" [(value)]="row.personId" (change)="selectedValueChange($event.srcElement.value, 'personId' , i)">
                <option *ngFor="let item of persons" [(value)]="item.id">{{item.firstName}} {{item.lastName}}</option>
              </select>
                        </td>

                        <td>
                            <input type="number" min="1" class="form-control" [(value)]="row.daysToAprobate" (change)="selectedValueChange($event.srcElement.value, 'daysToAprobate' , i)">
                        </td>

                        <td>
                            <input type="number" class="form-control" min="{{getValueMin(i)}}" [(value)]="row.valueMin" (change)="selectedValueChange($event.srcElement.value, 'valueMin' , i)">
                        </td>

                        <td>
                            <input type="number" class="form-control" min="{{getValueMax(i)}}" [(value)]="row.valueMax" (change)="selectedValueChange($event.srcElement.value, 'valueMax' , i)">
                        </td>
                        <td>
                            <button style="background: none; border: none;" (click)="removeLevel(i)"><i
                  class="fa fa-minus"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>


        <div mat-dialog-actions class="buttons">
            <button mat-button class="btn btn-light" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="btn btn-success" (click)="save()" [mat-dialog-close]="matrix" cdkFocusInitial>Guardar</button>
        </div>
    </form>

</mat-card>


<!-- <div mat-dialog-content *ngFor="let row of matrix; let i=index">

            <mat-form-field class="example-full-width">
                <mat-label>Nivel</mat-label>
                <input type="number" [(value)]="row.levelAprobation" matInput [(ngModel)]="row.levelAprobation" name="levelAprobation" disable="true" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Aprobador</mat-label>
                <mat-select [(value)]="row.personid" [(ngModel)]="row.personid" name="personid" required>
                    <mat-option *ngFor="let per of persons" [(value)]="per.id">
                        {{per.firstName}} {{per.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Máx. Dias</mat-label>
                <input type="number" matInput [(ngModel)]="row.daysToAprobate" name="daysToAprobate" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Valor Min. Aprobación</mat-label>
                <input type="number" matInput [(ngModel)]="row.valueMin" name="valueMin" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Valor Máx. Aprobación</mat-label>
                <input type="number" matInput [(ngModel)]="row.valueMax" name="valueMax" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <i class="material-icons" (click)="addLevel()">add</i>
            </mat-form-field>
        </div> -->
