<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <!-- ['id', 'document', 'names ', 'lastNames', 'email', 'phone', 'roleId']; -->
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="documentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
            <mat-cell *matCellDef="let row">{{this.getDocumentName(row.documentType).resume }} {{row.documentNumber}}
            </mat-cell>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.secondName}} {{row.lastName}}
                {{row.secondLastName}}
            </mat-cell>
        </ng-container>


        <!-- Date Aprobate Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- Date Pay datePay -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
        </ng-container>


        <!-- Area Column -->
        <ng-container matColumnDef="roleId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rol </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{getRolName(row.roleId).name}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updatePerson(row)">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<button class="mdc-fab" aria-label="Favorite" [title]="'Agregar'" (click)="adduser()">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon material-icons">add</span>
</button>