<nav id="sidebar" [ngStyle]="{'width': widthSidebar}">
    <div class="sidebar-header" [ngStyle]="{'background-color': getBackground(widthSidebar)}">
        <img src="./assets/images/enterpriseImage.png" alt="Empresa" *ngIf="widthSidebar !== '50px'">
    </div>

    <ul class="list-unstyled components">
        <li *ngFor="let menu of menuItems">
            <a [routerLink]="[menu.component]" routerLinkActive="router-link-active" class="button">
                <i class="icon {{menu.icon}}" aria-hidden="true"></i>
                <span class="menuText" *ngIf="widthSidebar !== '50px'"> {{menu.name}}</span>
            </a>
        </li>
    </ul>
    <span class="version"> {{version }}</span>
</nav>