<mat-card class="box">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <form class="example-form" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <mat-select [(value)]="data.productid" [(ngModel)]="data.productid" name="productid" required>
                    <mat-option *ngFor="let prod of products" [(value)]="prod.id">
                        {{prod.code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Centro de Costo</mat-label>
                <mat-select [(value)]="data.costCenterid" [(ngModel)]="data.costCenterid" name="costcenterid" required>
                    <mat-option *ngFor="let cost of costCenters" [(value)]="cost.id">
                        {{cost.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Moneda</mat-label>
                <mat-select [(value)]="data.moneyid" [(ngModel)]="data.moneyid" name="moneyid" required>
                    <mat-option *ngFor="let mon of moneys" [(value)]="mon.id">
                        {{mon.unitymoney}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Tasa de Cambio</mat-label>
                <input type="number" matInput [(ngModel)]="data.exangeRate" name="exangeRate" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Valor Máx. Aprobación</mat-label>
                <input type="number" matInput [(ngModel)]="data.valueMax" name="valueMax" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Fecha de Vencimiento</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="data.datelimit" name="datelimit" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Niveles de Aprobación</mat-label>
                <input type="number" min="1" max="10" matInput [(ngModel)]="data.apobationLevels" name="apobationLevels"
                    (change)="changeAprobalValues($event)" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Valor Total Pago Terceros</mat-label>
                <input type="number" matInput [(ngModel)]="data.valueTotal" name="valueTotal" required>
            </mat-form-field>

        </div>

        <h6>Aprobadores</h6>
        <div mat-dialog-content>

            <mat-form-field class="example-full-width" *ngFor="let item of aprobationLevels; let i=index">
                <mat-select [(value)]="data.personss[i]" [(ngModel)]="data.personss[i]" name="personss[i]" required>
                    <mat-option *ngFor="let prod of personsWithRol" [(value)]="prod.personId" style="width: 100%;">
                        <div>{{prod.personName }}
                        </div>
                        <span style="margin-left: 10px;">{{prod.personRole}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div mat-dialog-actions class="buttons">
            <button mat-button class="btn btn-light" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="btn btn-success" (click)="save()" [mat-dialog-close]="data"
                cdkFocusInitial>Guardar</button>
        </div>
    </form>

</mat-card>