.container-group {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1em;
    .group-field {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin: 2px;
        width: 33%;
        height: 40px;
        .title-group {
            padding: 0.5em;
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
            width: 40%;
        }
        .value-group {
            background-color: rgba(145, 145, 145, 0.8);
            padding: 1em;
            font-size: 14px;
            width: 50%;
        }
    }
}

.buttons {
    padding: 1em;
    align-items: right;
    text-align: right;
    align-content: right;
}