.container-title {
    display: flex;
    justify-content: space-between;
}

.container-group {
    display: flex;
    flex-flow: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    .group-field {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin: 2px;
        width: 33%;
        height: 40px;
        .title-group {
            padding: 0.5em;
            font-size: 14px;
            // font-weight: bold;
            vertical-align: middle;
            width: 40%;
        }
        .value-group {
            background-color: #f1efefcc;
            padding: 0.5em;
            font-size: 14px;
            vertical-align: middle;
            width: 40%;
        }
    }
}

::ng-deep .mat-sort-header-button {
    color: #000;
    font-weight: bold;
}

.buttons {
    display: block;
    text-align: right;
    .btn {
        margin: 0.5em;
    }
}