<div *ngIf="!!company">
    <!-- <div class="row">
        <div class="header">
            <h4>{{ company.businessName}}</h4>
        </div>
    </div> -->
    <div class="container-company">
        <div class="header-company">
            <div class="image-company">
                <img src="./assets/images/enterpriseImage.png" alt="logo">
            </div>
            <div class="title-text-company">
                <h4>{{ company.businessName}}</h4>
                <span class="data-title">Nit: <b>{{company.nit}}</b></span>
            </div>
        </div>


        <div class="body-company">
            <div class="field-text-company">
                <div class="data-title">Email Princial:</div>
                <div class="data-text">{{company.emailCompany}}</div>
            </div>

            <div class="field-text-company">
                <div class="data-title">Email Secundario:</div>
                <div class="data-text">{{company.emailTreasury}}</div>
            </div>

            <div class="field-text-company">
                <div class="data-title">Módulo de Órdenes de compra:</div>
                <div class="data-text"><span *ngIf="company.purchaseOrders">Si</span><span *ngIf="!company.purchaseOrders">No</span></div>
            </div>

            <div class="field-text-company">
                <div class="data-title">Interface Contable:</div>
                <div class="data-text"><span *ngIf="company.accountableInterface">Si</span><span *ngIf="!company.accountableInterface">No</span></div>
            </div>
        </div>
    </div>

</div>


<button class="mdc-fab" aria-label="Favorite" [title]="'Modificar'" (click)="saveCompany()">
  <div class="mdc-fab__ripple"></div>
  <span class="mdc-fab__icon material-icons">settings</span>
</button>