<div class="box">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <form class="example-form">
        <div mat-dialog-content class="example-form-content">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Razón Social</mat-label>
                <input matInput [(ngModel)]="data.businessName" name="businessname" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nit</mat-label>
                <input matInput [(ngModel)]="data.nit" name="nit" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email Corportativo</mat-label>
                <input matInput [(ngModel)]="data.emailCompany" name="emailCompany" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email Tesorería</mat-label>
                <input matInput [(ngModel)]="data.emailTreasury" name="emailTreasury">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email Notificaciones</mat-label>
                <input matInput [(ngModel)]="data.emailMistica" name="emailMistica">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email Notificaciones</mat-label>
                <input matInput [(ngModel)]="data.passwordMistica" name="password" type="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Interfaz Contable</mat-label>
                <!-- <input matInput [(ngModel)]="data.accountableInterface" name="accountableInterface"> -->
                <mat-select [(value)]="data.accountableInterface" [(ngModel)]="data.accountableInterface" name="accountableInterface" required>
                    <mat-option *ngFor="let doc of options" [(value)]="doc.key">
                        {{doc.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Módulo de órdenes de compra</mat-label>
                <!-- <input matInput [(ngModel)]="data.purchaseOrders" name="purchaseOrders"> -->
                <mat-select [(value)]="data.purchaseOrders" [(ngModel)]="data.purchaseOrders" name="purchaseOrders" required>
                    <mat-option *ngFor="let doc of options" [(value)]="doc.key">
                        {{doc.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </form>

    <div mat-dialog-actions class="buttons">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button (click)="save()" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
    </div>

</div>