<mat-card class="box">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <form class="example-form">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="data.name" name="name" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>
                <input matInput [(ngModel)]="data.description" name="description" required>
            </mat-form-field>

        </div>
        <div mat-dialog-actions class="buttons">
            <button mat-button class="btn btn-light" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="btn btn-success" (click)="save()" [mat-dialog-close]="data"
                cdkFocusInitial>Guardar</button>
        </div>
    </form>

</mat-card>